
*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
}

.stars {
    position: absolute;
}
.hills {
    position: absolute;
    bottom: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;  
}
body {
    font-family:"Red Hat Text", sans-serif;
    background-color: hsl(235, 16%, 14%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    .attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Container */
.container {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    /* min-width: 100; */
}

.container h1{
    color:white !important;
    font-size:30px;
    text-transform: uppercase;
    letter-spacing:2px;
    margin-bottom: 30px;
}
/* countdown */
.countdown {
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.countdown div {
    margin: 10px
}
.countdown p {
    color: hsl(345, 95%, 68%);
    background-color: hsl(236, 21%, 26%);
    font-size: 32px;
    padding: 20px;
    /* margin:10px; */
    border-radius: 5px;
}
.countdown h3 {
    color:hsl(237, 18%, 59%);
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing:2px;
    font: size 16px;
}
/* socials */

.socials {
    position: absolute;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
    z-index: 999;
}

.socials ul {
    display:flex;
}

.socials ul li {
    margin: 0 20px;
}

@media (min-width: 1440px) {
    .stars img, 
    .hills img {
       width: 1600px; 
    }
}

@media (min-width: 1600px) {
    .stars img, 
    .hills img {
       width: 1600px; 
    }
}